/* RESET */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial,       sans-serif;
}

img{
        max-width: 100%;
    }

    /* font */
    


        header{
            background-image: url(../img/jumbo.png);
            background-size: contain;
            
          

        }
      
        
        .nav-header{
            
            background-color: rgb(40, 30, 235);
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
        }
        
        .nav{
            display:flex;
            justify-content: space-between;
            flex-grow: 1;
            width:1200px;
            /* background-color: rgb(0, 94, 255); */
            /* border: 1px dashed black; */
            /* gap: 10px;  */
        }
        
        .nav-link{
            color: white;
            text-decoration: none;
           
        }
        
        .logo{
            /* border-right: 1px dashed black;  */
            width: 20%; 
            text-align: center; 
            } 
        
        .login{
            /* border-left: 1px dashed black; */
            width: 20%; 
            text-align: center; 
        }  
        
        .login-button{
          
            background-color: white;
            color: black;
            padding: 6px;
            border-radius: 15px;
            text-decoration: none ;
        }
        
         
        
        .main-header{
        
            height: 300px;
            background-color: rgb(111, 111, 200);
            display:flex;
            justify-content: center;
            align-items: center;
        }
        
        .quadrato-header{
            /* height: 250px; */
            width: 50%;
            /* background-color: violet; */
            text-align: center;
        
        }
        
        .quadrato-header{
            color: white;
        }
        
        .header-p{
            padding: 5px;
        }
        
        .dl-button{
            color:black;
            padding:10px;
            margin-right: 5px;
            background-color:white;
            text-decoration: none;
            border-radius: 15px;
        }
        
        .open-button{
            color: white;
            padding: 10px;
            background-color: black;
            text-decoration: none;
            border-radius: 15px;
            margin-left: 5px;
        }
        


/* MAIN */

h2{
    font-size: 40px;
}

.white{
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.grey{
    /* debug */
    background-color: lightgray;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


.grey-big{
    /* debug */
    background-color: lightgray;
    height: 800px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
  }


.square-blue{
    background-color: cornflowerblue;
    border: 1px dashed black;
    height: 400px;
    width: 50%;
}

.square-pink{
    /* debug */
    /* background-color: pink; */
    /* border: 1px dashed black; */
    height: 400px;
    width:30%;
    padding:20px;   
}

.square-green{
    /* debug */
    /* background-color: green; */
    /* border: 1px dashed black; */
    height: 800px;
    width: 80%;
    
}

.bottom-phrase{
    background-image: url(../img/stars.svg);
    background-position: center;
}

.bottom-button{
    padding: 20px;
}

.last-button{
    background-color: rgb(40, 100, 196);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;

}

/* footer */


.footer-list{
    /* debug */
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.ita{
    width: 20px;
}



h4{
    color: rgb(40, 100, 196);
}



a{
    color: white;
    text-decoration: none;
}



.main-col{
    /* debug */
    /* background-color: rosybrown;
    border: 1px dashed white; */
    
    height: 400px;
    width: 32%;
}

.socials i{
    color: white;
    font-size:20px;
    margin:10px  5px;
   
}
.col-title{
    font-size: 25px;
}

.lingua{
    color: white;
}
.second-col{
    /* debug */
    /* background-color: rgb(0, 218, 145); */
    /* border: 1px dashed white; */
    height: 400px;
    width: calc(48% / 4);
   
}

.footer-buttons{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.buttons-container{
    /* debug */
    /* background-color: aqua; */
    height:60px;
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;   
}


.logo-bottom{
    /* debug */
    /* background-color: rosybrown; */
    border: 1px dashed black;
    height: 30px;
}

.button{
    /* debug */
    /* background-color: rosybrown; */
    /* border: 1px dashed black; */
    height: 20px;
}

.register-button{
background-color: rgb(40, 100, 196);
color: white;
text-decoration: none;
border-radius: 15px;
padding: 10px;
}



